<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.string</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>Finder</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<true/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>Finder</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>overwrite</key>
		<false/>
		<key>pathPattern</key>
		<string>%Y_%m_%d/</string>
		<key>test</key>
		<false/>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDInput</key>
		<string>One or more files (one per line) to copy/move</string>
		<key>AMDRequires</key>
		<string></string>
		<key>AMDResult</key>
		<string>The moved files (in new position), one per line</string>
		<key>AMDSummary</key>
		<string>Take files with metadata (EXIF, ID3, ...) and uses EXIFtool to move them in sub-directories according to a specified pattern using the file's metadata.</string>
	</dict>
	<key>AMIconName</key>
	<string>MetaDataMover</string>
	<key>AMKeywords</key>
	<array/>
	<key>AMName</key>
	<string>MetaDataMover</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.string</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>(* Action name to be suggested to add prior to this action to make the task safer, e.g. com.apple.Automator.CopyFiles, goes here. *)</string>
		<key>ApplyButton</key>
		<string>(* Button label for user to add proposed Action, e.g. Add. *)</string>
		<key>IgnoreButton</key>
		<string>(* Button label for user not to add proposed Action, e.g. Don't Add. *)</string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string>(* Warning message presented to user goes here. *)</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>MetaDataMover version 1.0, Copyright (c) 2007, Pierre Andrews.</string>
	<key>CFBundleIconFile</key>
	<string>MetaDataMoverLarge</string>
	<key>CFBundleIdentifier</key>
	<string>org.gamboni.6v8.Automator.MetaDataMover</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>AMShellScriptAction</string>
</dict>
</plist>
