<!DOCTYPE html>
<html>
<link type="text/css" href="style.css" rel="stylesheet"> 
<head>
<title>{{ page.title }}</title>
</head>

<body>
<header>
<h1 class="title">{{ page.title }}</h1>
</header>
<article>
{{ content }}
</article>
<footer>
This page is part of the <a
href="https://github.com/Mortimerp9/MetaDataMover">MetaDataMover
GitHub project</a> by <a href="http://mortimerp9.github.com">Pierre Andrews</a>.
</footer>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26191216-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</body>
</html>
